

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Arial, sans-serif;
}

body {
  background: rgb(5, 94, 113);
  color: #222;
  min-height: 100vh;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.search-box input {
  width: 100%;
  padding: 12px 18px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 30px;
  margin-bottom: 20px;
  background: #fff;
}

.search-box input:focus {
  outline: none;
  border-color: #3e8bd7;
}

.post-card {
  background: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  transition: 0.2s ease;
}

.post-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 3px 14px rgba(0,0,0,0.17);
}

.post-card h3 {
  margin-bottom: 6px;
  font-size: 22px;
  color: #111;
}

.post-card .date {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
}

.post-card p {
  line-height: 1.6;
}


button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #111;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background: #333;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea {
  height: 100px;
  resize: vertical;
}
.mylist{
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.LinkStyle{
  text-decoration: none;
  color:black;
}

.topbar {
  width: 100%;
  background-color: #000000;   
  padding: 15px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-right {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}
.nav-right a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}

.nav-right a:hover {
  text-decoration: underline;
}


body {
  padding-top: 70px;
}
